<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.user_name%>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
